In [1]:
import pandas as pd
import time
import random
import nba_api
import datetime as dt
import re

from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.endpoints import scoreboard
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import shotchartdetail
from nba_api.stats.endpoints import playervsplayer
from nba_api.stats.endpoints import teamdashlineups
from nba_api.stats.endpoints import leaguedashplayerbiostats
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import teamyearbyyearstats
from nba_api.stats.endpoints import teamdashboardbyteamperformance
from nba_api.stats.endpoints import teamdashlineups
from nba_api.stats.endpoints import leaderstiles

In [2]:
pd.set_option('display.max_columns',100)

## TEAM DATA

In [4]:
team_dict = teams.get_teams()

In [5]:
hawks = [team for team in team_dict if team['full_name']=='Atlanta Hawks'][0]
celtics = [team for team in team_dict if team['full_name']=='Boston Celtics'][0]
nets = [team for team in team_dict if team['full_name']=='Brooklyn Nets'][0]
hornets = [team for team in team_dict if team['full_name']=='Charlotte Hornets'][0]
bulls = [team for team in team_dict if team['full_name']=='Chicago Bulls'][0]
cavaliers = [team for team in team_dict if team['full_name']=='Cleveland Cavaliers'][0]
mavericks = [team for team in team_dict if team['full_name']=='Dallas Mavericks'][0]
nuggets = [team for team in team_dict if team['full_name']=='Denver Nuggets'][0]
pistons = [team for team in team_dict if team['full_name']=='Detroit Pistons'][0]
warriors = [team for team in team_dict if team['full_name']=='Golden State Warriors'][0]
rockets = [team for team in team_dict if team['full_name']=='Houston Rockets'][0]
pacers = [team for team in team_dict if team['full_name']=='Indiana Pacers'][0]
clippers = [team for team in team_dict if team['full_name']=='Los Angeles Clippers'][0]
lakers = [team for team in team_dict if team['full_name']=='Los Angeles Lakers'][0]
grizzlies = [team for team in team_dict if team['full_name']=='Memphis Grizzlies'][0]
heat = [team for team in team_dict if team['full_name']=='Miami Heat'][0]
bucks = [team for team in team_dict if team['full_name']=='Milwaukee Bucks'][0]
timberwolves = [team for team in team_dict if team['full_name']=='Minnesota Timberwolves'][0]
pelicans = [team for team in team_dict if team['full_name']=='New Orleans Pelicans'][0]
knicks = [team for team in team_dict if team['full_name']=='New York Knicks'][0]
thunder = [team for team in team_dict if team['full_name']=='Oklahoma City Thunder'][0]
magic = [team for team in team_dict if team['full_name']=='Orlando Magic'][0]
sixers = [team for team in team_dict if team['full_name']=='Philadelphia 76ers'][0]
suns = [team for team in team_dict if team['full_name']=='Phoenix Suns'][0]
blazers = [team for team in team_dict if team['full_name']=='Portland Trail Blazers'][0]
kings = [team for team in team_dict if team['full_name']=='Sacramento Kings'][0]
spurs = [team for team in team_dict if team['full_name']=='San Antonio Spurs'][0]
raptors = [team for team in team_dict if team['full_name']=='Toronto Raptors'][0]
jazz = [team for team in team_dict if team['full_name']=='Utah Jazz'][0]
wizards = [team for team in team_dict if team['full_name']=='Washington Wizards'][0]

In [6]:
hawks_id = hawks['id']
celtics_id = celtics['id']
nets_id = nets['id']
hornets_id = hornets['id']
bulls_id = bulls['id']
cavaliers_id = cavaliers['id']
mavericks_id = mavericks['id']
nuggets_id = nuggets['id']
pistons_id = pistons['id']
warriors_id = warriors['id']
rockets_id = rockets['id']
pacers_id = pacers['id']
clippers_id = clippers['id']
lakers_id = lakers['id']
grizzlies_id = grizzlies['id']
heat_id = heat['id']
bucks_id = bucks['id']
timberwolves_id = timberwolves['id']
pelicans_id = pelicans['id']
knicks_id = knicks['id']
thunder_id = thunder['id']
magic_id = magic['id']
sixers_id = sixers['id']
suns_id = suns['id']
blazers_id = blazers['id']
kings_id = kings['id']
spurs_id = spurs['id']
raptors_id = raptors['id']
jazz_id = jazz['id']
wizards_id = wizards['id']

In [7]:
hawks_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=hawks_id).get_data_frames()[0] 
celtics_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id).get_data_frames()[0] 
time.sleep(random.randint(1, 10) / 10)
nets_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=nets_id).get_data_frames()[0] 
hornets_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=hornets_id).get_data_frames()[0] 
bulls_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=bulls_id).get_data_frames()[0] 
cavaliers_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=cavaliers_id).get_data_frames()[0]
time.sleep(random.randint(1, 10) / 10)
mavericks_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=mavericks_id).get_data_frames()[0] 
nuggets_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=nuggets_id).get_data_frames()[0] 
pistons_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=pistons_id).get_data_frames()[0] 
warriors_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=warriors_id).get_data_frames()[0] 
rockets_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=rockets_id).get_data_frames()[0] 
pacers_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=pacers_id).get_data_frames()[0] 
clippers_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=clippers_id).get_data_frames()[0] 
time.sleep(random.randint(1, 10) / 10)
lakers_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=lakers_id).get_data_frames()[0] 
grizzlies_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=grizzlies_id).get_data_frames()[0] 
heat_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=heat_id).get_data_frames()[0] 
bucks_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=bucks_id).get_data_frames()[0] 
timberwolves_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=timberwolves_id).get_data_frames()[0] 
pelicans_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=pelicans_id).get_data_frames()[0] 
time.sleep(random.randint(1, 10) / 10)
knicks_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=knicks_id).get_data_frames()[0] 
thunder_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=thunder_id).get_data_frames()[0] 
magic_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=magic_id).get_data_frames()[0] 
sixers_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=sixers_id).get_data_frames()[0] 
suns_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=suns_id).get_data_frames()[0] 
blazers_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=blazers_id).get_data_frames()[0] 
kings_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=kings_id).get_data_frames()[0] 
time.sleep(random.randint(1, 10) / 10)
spurs_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=spurs_id).get_data_frames()[0] 
raptors_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=raptors_id).get_data_frames()[0] 
jazz_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=jazz_id).get_data_frames()[0] 
wizards_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=wizards_id).get_data_frames()[0]

In [8]:
df = pd.concat([hawks_games,celtics_games,nets_games,
                                    hornets_games,bulls_games,cavaliers_games,
                                    mavericks_games,nuggets_games,pistons_games,
                                    warriors_games,rockets_games,pacers_games,
                                    clippers_games,lakers_games,grizzlies_games,
                                    heat_games,bucks_games,timberwolves_games,
                                    pelicans_games,knicks_games,thunder_games,
                                    magic_games,sixers_games,suns_games,blazers_games,
                                    kings_games,spurs_games,raptors_games,jazz_games,wizards_games])

In [9]:
df.columns = map(str.lower, df.columns)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93843 entries, 0 to 3214
Data columns (total 28 columns):
season_id            93843 non-null object
team_id              93843 non-null int64
team_abbreviation    93843 non-null object
team_name            93843 non-null object
game_id              93843 non-null object
game_date            93843 non-null object
matchup              93843 non-null object
wl                   93825 non-null object
min                  93843 non-null int64
pts                  93843 non-null int64
fgm                  93843 non-null int64
fga                  93843 non-null int64
fg_pct               93836 non-null float64
fg3m                 93843 non-null int64
fg3a                 93841 non-null float64
fg3_pct              92768 non-null float64
ftm                  93843 non-null int64
fta                  93843 non-null int64
ft_pct               93821 non-null float64
oreb                 93839 non-null float64
dreb                 93839 non-null float64
reb                  93838 non-null float64
ast                  93843 non-null int64
stl                  93841 non-null float64
blk                  93843 non-null int64
tov                  93843 non-null int64
pf                   93843 non-null int64
plus_minus           64139 non-null float64
dtypes: float64(9), int64(12), object(7)
memory usage: 20.8+ MB

In [11]:
df['wl'] = df['wl'].fillna('L')

In [12]:
df = df.fillna(0)

In [13]:
df['opp_score'] = (df['pts'] + df['plus_minus'])

In [14]:
df['home_team'] = df['matchup'].str.split('@ ').str[-1]

In [15]:
df['away_team'] = df['matchup'].str.split('vs.' ).str[-1]

In [16]:
df['home_team'] = df['home_team'].str.split(' vs.').str[0]

In [17]:
df['away_team'] = df['away_team'].str.split(' @').str[0]

In [18]:
df['home_game'] = (df['home_team'] == df['team_abbreviation'])

In [19]:
df['away_game'] = (df['away_team'] == df['team_abbreviation'])

In [20]:
df['ts_a'] = (df['fga'] + (.44*df['fta']))

In [21]:
df['ts_pct'] = (df['pts']/ (2*df['ts_a']))

In [22]:
df['to_pct'] = (df['tov'] / df['min'])

In [26]:
df['to_pct'] = df['to_pct'].fillna(0)

In [27]:
df['year'] = df['game_date'].str.split('-').str[0]

In [28]:
df['month'] = df['game_date'].str.split('-').str[1]

In [29]:
df['day'] = df['game_date'].str.split('-').str[2]

In [30]:
df['opponent'] = df['matchup'].str.split(' ').str[2]

In [31]:
df.drop(df.loc[df['wl']=='O'].index, inplace=True)

In [32]:
df.drop(df.loc[df['wl']=='T'].index, inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93753 entries, 0 to 3214
Data columns (total 40 columns):
season_id            93753 non-null object
team_id              93753 non-null int64
team_abbreviation    93753 non-null object
team_name            93753 non-null object
game_id              93753 non-null object
game_date            93753 non-null object
matchup              93753 non-null object
wl                   93753 non-null object
min                  93753 non-null int64
pts                  93753 non-null int64
fgm                  93753 non-null int64
fga                  93753 non-null int64
fg_pct               93753 non-null float64
fg3m                 93753 non-null int64
fg3a                 93753 non-null float64
fg3_pct              93753 non-null float64
ftm                  93753 non-null int64
fta                  93753 non-null int64
ft_pct               93753 non-null float64
oreb                 93753 non-null float64
dreb                 93753 non-null float64
reb                  93753 non-null float64
ast                  93753 non-null int64
stl                  93753 non-null float64
blk                  93753 non-null int64
tov                  93753 non-null int64
pf                   93753 non-null int64
plus_minus           93753 non-null float64
opp_score            93753 non-null float64
home_team            93753 non-null object
away_team            93753 non-null object
home_game            93753 non-null bool
away_game            93753 non-null bool
ts_a                 93753 non-null float64
ts_pct               93749 non-null float64
to_pct               93753 non-null float64
year                 93753 non-null object
month                93753 non-null object
day                  93753 non-null object
opponent             93753 non-null object
dtypes: bool(2), float64(13), int64(12), object(13)
memory usage: 28.1+ MB

In [36]:
df.head(1)

,season_id,team_id,team_abbreviation,team_name,game_id,game_date,matchup,wl,min,pts,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,tov,pf,plus_minus,opp_score,home_team,away_team,home_game,away_game,ts_a,ts_pct,to_pct,year,month,day,opponent
0,22019,1610612737,ATL,Atlanta Hawks,0021900807,2020-02-12,ATL @ CLE,L,238,105,36,84,0.429,13,34.0,0.382,20,25,0.8,9.0,29.0,38.0,24,11.0,5,17,26,-22.0,83.0,CLE,ATL,False,True,95.0,0.552632,0.071429,2020,02,12,CLE

In [35]:
df.to_csv('allteams_allgames.csv')

# SCOREBOARD

In [141]:
lakers_scoreboard = leaguegamelog.LeagueGameLog().get_data_frames()[0]

In [135]:
lakers_scoreboard.head(5)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22019,1610612747,LAL,Los Angeles Lakers,0021900002,2019-10-22,LAL @ LAC,L,240,37,85,0.435,13,33,0.394,15,21,0.714,9,32,41,20,4,7,15,24,102,-10,1
1,22019,1610612746,LAC,LA Clippers,0021900002,2019-10-22,LAC vs. LAL,W,240,42,81,0.519,11,31,0.355,17,24,0.708,11,34,45,24,8,5,14,25,112,10,1
2,22019,1610612740,NOP,New Orleans Pelicans,0021900001,2019-10-22,NOP @ TOR,L,265,43,102,0.422,19,45,0.422,17,20,0.850,16,37,53,30,4,9,19,34,122,-8,1
3,22019,1610612761,TOR,Toronto Raptors,0021900001,2019-10-22,TOR vs. NOP,W,265,42,103,0.408,14,40,0.350,32,38,0.842,16,41,57,23,7,3,17,24,130,8,1
4,22019,1610612755,PHI,Philadelphia 76ers,0021900008,2019-10-23,PHI vs. BOS,W,240,37,85,0.435,7,29,0.241,26,36,0.722,12,50,62,24,6,7,17,34,107,14,1

In [96]:
lakers_scoreboard['opp_score'] = (lakers_scoreboard['PTS'] + lakers_scoreboard['PLUS_MINUS'])

In [142]:
lakers_scoreboard['trial_home'] = lakers_scoreboard['MATCHUP'].str.split('@').str[-1]

In [143]:
lakers_scoreboard['trial_away'] = lakers_scoreboard['MATCHUP'].str.split('vs.').str[-1]

In [144]:
lakers_scoreboard['trial_home'] = lakers_scoreboard['trial_home'].str.split(' vs.').str[0]

In [146]:
lakers_scoreboard['trial_away'] = lakers_scoreboard['trial_away'].str.split('@').str[0]

In [84]:
lakers_scoreboard.head(5)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,opp_score,trial_home,trial_away
0,22019,1610612747,LAL,Los Angeles Lakers,0021900002,2019-10-22,LAL @ LAC,L,240,37,85,0.435,13,33,0.394,15,21,0.714,9,32,41,20,4,7,15,24,102,-10,1,92,LAC,LAL @ LAC
1,22019,1610612746,LAC,LA Clippers,0021900002,2019-10-22,LAC vs. LAL,W,240,42,81,0.519,11,31,0.355,17,24,0.708,11,34,45,24,8,5,14,25,112,10,1,122,LAC vs. LAL,LAL
2,22019,1610612740,NOP,New Orleans Pelicans,0021900001,2019-10-22,NOP @ TOR,L,265,43,102,0.422,19,45,0.422,17,20,0.850,16,37,53,30,4,9,19,34,122,-8,1,114,TOR,NOP @ TOR
3,22019,1610612761,TOR,Toronto Raptors,0021900001,2019-10-22,TOR vs. NOP,W,265,42,103,0.408,14,40,0.350,32,38,0.842,16,41,57,23,7,3,17,24,130,8,1,138,TOR vs. NOP,NOP
4,22019,1610612755,PHI,Philadelphia 76ers,0021900008,2019-10-23,PHI vs. BOS,W,240,37,85,0.435,7,29,0.241,26,36,0.722,12,50,62,24,6,7,17,34,107,14,1,121,PHI vs. BOS,BOS

In [166]:
## doesn't deliver proper ranks
lakers_yearbystats = teamyearbyyearstats.TeamYearByYearStats(lakers_id).get_data_frames()[0]

In [167]:
lakers_yearbystats

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612747,Minneapolis,Lakers,1948-49,60,44,16,0.733,0,2,8,2,NaN,6,LEAGUE CHAMPION,1885,0,0.000,0,0,0.000,0,1759,0.723,0,0,0,1134,1386,0,0,0,5042,1
1,1610612747,Minneapolis,Lakers,1949-50,68,51,17,0.750,0,1,10,2,NaN,5,LEAGUE CHAMPION,2139,0,0.000,0,0,0.000,0,1943,0.741,0,0,0,1406,1672,0,0,0,5717,1
2,1610612747,Minneapolis,Lakers,1950-51,68,44,24,0.647,0,1,3,4,NaN,5,N/A,2084,0,0.000,0,0,0.000,0,1989,0.736,0,0,0,1408,1801,0,0,0,5632,8
3,1610612747,Minneapolis,Lakers,1951-52,66,40,26,0.606,0,2,9,4,NaN,6,LEAGUE CHAMPION,2106,0,0.000,0,0,0.000,0,1921,0.748,0,0,0,1389,1763,0,0,0,5648,5
4,1610612747,Minneapolis,Lakers,1952-53,70,48,22,0.686,0,1,9,3,NaN,5,LEAGUE CHAMPION,2166,0,0.000,0,0,0.000,0,2221,0.725,0,0,0,1351,1917,0,0,0,5943,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,1610612747,Los Angeles,Lakers,2015-16,82,17,65,0.207,15,5,0,0,15.0,5,N/A,2880,6956,0.414,639,2016,0.317,1583,2028,0.781,878,2645,3523,1478,1662,593,1124,337,7982,30
68,1610612747,Los Angeles,Lakers,2016-17,82,26,56,0.317,14,4,0,0,15.0,5,N/A,3224,7164,0.450,730,2110,0.346,1397,1853,0.754,933,2636,3569,1716,1698,674,1243,320,8575,17
69,1610612747,Los Angeles,Lakers,2017-18,82,35,47,0.427,11,3,0,0,15.0,5,N/A,3338,7248,0.461,822,2384,0.345,1364,1910,0.714,876,2927,3803,1949,1736,633,1295,388,8862,11
70,1610612747,Los Angeles,Lakers,2018-19,82,37,45,0.451,10,4,0,0,15.0,5,N/A,3491,7425,0.470,847,2541,0.333,1336,1910,0.699,835,2985,3820,2096,1701,618,1284,440,9165,16
71,1610612747,Los Angeles,Lakers,2019-20,53,41,12,0.774,1,1,0,0,15.0,5,N/A,2285,4682,0.488,596,1640,0.363,915,1253,0.730,567,1883,2450,1395,1082,451,803,361,6081,16

In [169]:
teamdashboardbyteamperformance.TeamDashboardByTeamPerformance(lakers_id).get_data_frames()[0]

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Overall,2019-20,53,41,12,0.774,2554.0,2285,4682,0.488,596,1640,0.363,915,1253,0.73,567,1883,2450,1395,803.0,451,361,209,1082,1125,6081,393.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,175,2019-20

In [171]:
teamdashlineups.TeamDashLineups(lakers_id).get_data_frames()[0]

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,2019-20,1610612747,LAL,Los Angeles Lakers,53,41,12,0.774,2554.0,2285,4682,0.488,596,1640,0.363,915,1253,0.73,567,1883,2450,1395,803.0,451,361,209,1082,1125,6081,393.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [178]:
leader_2017 = leaderstiles.LeadersTiles(season='2017-18').get_data_frames()[0]

In [179]:
leader_2017.head(30)

   RANK     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME    PTS
0     1  1610612744               GSW  Golden State Warriors  113.5
1     2  1610612745               HOU        Houston Rockets  112.4
2     3  1610612740               NOP   New Orleans Pelicans  111.7
3     3  1610612761               TOR        Toronto Raptors  111.7
4     5  1610612739               CLE    Cleveland Cavaliers  110.9

## PLAYER DATA

In [20]:
player_dict = players.get_players()

In [21]:
all_players = [player for player in player_dict if player['id']>= 0]

In [22]:
all_players_active = [player for player in player_dict if player['id']>= 0 and player['is_active'] != False]

In [23]:
lebron = [player for player in player_dict if player['full_name'] == 'LeBron James'][0]
jordan = [player for player in player_dict if player['full_name'] == 'Michael Jordan'][0]
curry = [player for player in player_dict if player['full_name'] == 'Stephen Curry'][0]
kawhi = [player for player in player_dict if player['full_name'] == 'Kawhi Leonard'][0]

In [24]:
lebron_id = lebron['id']
jordan_id = jordan['id']
curry_id = curry['id']
kawhi_id = kawhi['id']

In [25]:
gamelog_bron = playergamelog.PlayerGameLog(player_id=lebron_id,season=SeasonAll.all)
gamelog_jordan = playergamelog.PlayerGameLog(player_id=jordan_id,season=SeasonAll.all)
gamelog_curry = playergamelog.PlayerGameLog(player_id=curry_id,season=SeasonAll.all)
gamelog_kawhi = playergamelog.PlayerGameLog(player_id=kawhi_id,season=SeasonAll.all)

In [26]:
gamelog_bron_df = gamelog_bron.get_data_frames()[0]
gamelog_jordan_df = gamelog_jordan.get_data_frames()[0]
gamelog_curry_df = gamelog_curry.get_data_frames()[0]
gamelog_kawhi_df = gamelog_kawhi.get_data_frames()[0]

In [333]:
gamelog_jordan_df

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22002,893,0020201178,"APR 16, 2003",WAS @ PHI,L,28,6,15,0.400,0,0,0.0,3,4,0.750,0,4,4.0,4,0,0,2,0,15,-12.0,0
1,22002,893,0020201164,"APR 14, 2003",WAS vs. NYK,L,38,9,22,0.409,0,3,0.0,3,3,1.000,1,7,8.0,1,1,0,2,1,21,-11.0,0
2,22002,893,0020201150,"APR 12, 2003",WAS vs. ATL,L,30,8,16,0.500,0,0,0.0,1,2,0.500,2,6,8.0,6,1,1,2,3,17,12.0,0
3,22002,893,0020201140,"APR 11, 2003",WAS @ MIA,W,40,11,26,0.423,0,1,0.0,3,3,1.000,1,1,2.0,4,2,0,1,2,25,2.0,0
4,22002,893,0020201125,"APR 09, 2003",WAS vs. BOS,L,43,8,17,0.471,1,2,0.5,4,4,1.000,0,10,10.0,1,2,0,1,2,21,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,21984,893,0028400035,"NOV 01, 1984",CHI @ DEN,L,33,7,15,0.467,0,0,NaN,3,4,0.750,3,2,5.0,5,1,1,2,4,17,NaN,0
1068,21984,893,0028400025,"OCT 30, 1984",CHI @ KCK,W,36,8,21,0.381,0,0,NaN,9,9,1.000,2,2,4.0,5,3,1,6,5,25,NaN,0
1069,21984,893,0028400019,"OCT 29, 1984",CHI vs. MIL,W,34,13,24,0.542,0,0,NaN,11,13,0.846,2,2,4.0,5,6,2,3,4,37,NaN,0
1070,21984,893,0028400013,"OCT 27, 1984",CHI @ MIL,L,34,8,13,0.615,0,0,NaN,5,5,1.000,3,2,5.0,5,2,1,3,4,21,NaN,0
1071,21984,893,0028400005,"OCT 26, 1984",CHI vs. WAS,W,40,5,16,0.313,0,0,NaN,6,7,0.857,1,5,6.0,7,2,4,5,2,16,NaN,0

In [27]:
df = pd.concat([gamelog_bron_df,gamelog_curry_df,gamelog_jordan_df,gamelog_kawhi_df])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3528 entries, 0 to 508
Data columns (total 27 columns):
SEASON_ID          3528 non-null object
Player_ID          3528 non-null int64
Game_ID            3528 non-null object
GAME_DATE          3528 non-null object
MATCHUP            3528 non-null object
WL                 3528 non-null object
MIN                3528 non-null int64
FGM                3528 non-null int64
FGA                3528 non-null int64
FG_PCT             3528 non-null float64
FG3M               3528 non-null int64
FG3A               3528 non-null int64
FG3_PCT            3464 non-null float64
FTM                3528 non-null int64
FTA                3528 non-null int64
FT_PCT             3526 non-null float64
OREB               3528 non-null int64
DREB               3528 non-null int64
REB                3527 non-null float64
AST                3528 non-null int64
STL                3528 non-null int64
BLK                3528 non-null int64
TOV                3528 non-null int64
PF                 3528 non-null int64
PTS                3528 non-null int64
PLUS_MINUS         2762 non-null float64
VIDEO_AVAILABLE    3528 non-null int64
dtypes: float64(5), int64(17), object(5)
memory usage: 771.8+ KB

In [29]:
lebron_shot = shotchartdetail.ShotChartDetail(team_id=lakers_id,
                                              player_id=lebron_id,last_n_games=5000).get_data_frames()[0]

In [30]:
lebron_shot['SHOT_ZONE_BASIC'].value_counts()

Restricted Area          619
Above the Break 3        204
Mid-Range                131
In The Paint (Non-RA)     75
Left Corner 3              9
Right Corner 3             8
Name: SHOT_ZONE_BASIC, dtype: int64

In [31]:
lebron_vs = playervsplayer.PlayerVsPlayer(vs_player_id=lebron_id,
                                          player_id=kawhi_id,
                                         season='2016-17').get_data_frames()[0]

In [32]:
lebron_vs

,GROUP_SET,GROUP_VALUE,PLAYER_ID,PLAYER_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,CFID,CFPARAMS
0,Overall,Kawhi Leonard,202695,Kawhi Leonard,74,54,20,0.730,2474.480,636,1312,0.485,147,387,0.380,469,533,0.880,80,350,430,260,154,133,55,33,122,399,1888,434,3204.0,85,Kawhi Leonard
1,Overall,LeBron James,2544,LeBron James,74,51,23,0.689,2794.575,736,1344,0.548,124,342,0.363,358,531,0.674,97,542,639,646,303,92,44,60,134,440,1954,483,3794.8,85,LeBron James

In [40]:
bio_stats_1999 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='1998-99').get_data_frames()[0]
time.sleep(random.randint(1, 10) / 10)
bio_stats_2000 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='1999-00').get_data_frames()[0]
bio_stats_2001 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2000-01').get_data_frames()[0]
bio_stats_2002 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2001-02').get_data_frames()[0]
bio_stats_2003 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2002-03').get_data_frames()[0]
time.sleep(random.randint(1, 10) / 10)
bio_stats_2004 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2003-04').get_data_frames()[0]
bio_stats_2005 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2004-05').get_data_frames()[0]
bio_stats_2006 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2005-06').get_data_frames()[0]
bio_stats_2007 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2006-07').get_data_frames()[0]
time.sleep(random.randint(1, 10) / 10)
bio_stats_2008 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2007-08').get_data_frames()[0]
bio_stats_2009 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2008-09').get_data_frames()[0]
bio_stats_2010 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2009-10').get_data_frames()[0]
bio_stats_2011 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2010-11').get_data_frames()[0]
time.sleep(random.randint(1, 10) / 10)
bio_stats_2012 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2011-12').get_data_frames()[0]
bio_stats_2013 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2012-13').get_data_frames()[0]
bio_stats_2014 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2013-14').get_data_frames()[0]
bio_stats_2015 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2014-15').get_data_frames()[0]
bio_stats_2016 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2015-16').get_data_frames()[0]
time.sleep(random.randint(1, 10) / 10)
bio_stats_2017 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2016-17').get_data_frames()[0]
bio_stats_2018 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2017-18').get_data_frames()[0]
bio_stats_2019 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2018-19').get_data_frames()[0]
bio_stats_2020 = leaguedashplayerbiostats.LeagueDashPlayerBioStats(league_id='00', season='2019-20').get_data_frames()[0]

In [41]:
bio_stats = pd.concat([bio_stats_1999,bio_stats_2000,bio_stats_2001,
          bio_stats_2002,bio_stats_2003,bio_stats_2004,
          bio_stats_2005,bio_stats_2006,bio_stats_2007,
          bio_stats_2008,bio_stats_2009,bio_stats_2010,
          bio_stats_2011,bio_stats_2012,bio_stats_2013,bio_stats_2014,
          bio_stats_2015,bio_stats_2016,bio_stats_2017,bio_stats_2018,
          bio_stats_2019,bio_stats_2020])

In [43]:
bio_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10259 entries, 0 to 505
Data columns (total 23 columns):
player_id               10259 non-null int64
player_name             10258 non-null object
team_id                 10258 non-null float64
team_abbreviation       10258 non-null object
age                     10258 non-null float64
player_height           10187 non-null object
player_height_inches    10187 non-null float64
player_weight           10252 non-null object
college                 10259 non-null object
country                 10239 non-null object
draft_year              10259 non-null object
draft_round             10248 non-null object
draft_number            10248 non-null object
gp                      10259 non-null int64
pts                     10259 non-null int64
reb                     10259 non-null int64
ast                     10259 non-null int64
net_rating              10259 non-null float64
oreb_pct                10259 non-null float64
dreb_pct                10259 non-null float64
usg_pct                 10259 non-null float64
ts_pct                  10259 non-null float64
ast_pct                 10259 non-null float64
dtypes: float64(9), int64(5), object(9)
memory usage: 1.9+ MB

In [42]:
bio_stats.columns = map(str.lower, bio_stats.columns)

In [44]:
bio_stats.to_csv('bio_stats.csv')

In [ ]:
all_players_gamelog = playergamelog.PlayerGameLog(player_id=lebron_id,season=SeasonAll.all)
gamelog_jordan = playergamelog.PlayerGameLog(player_id=jordan_id,season=SeasonAll.all)
gamelog_curry = playergamelog.PlayerGameLog(player_id=curry_id,season=SeasonAll.all)
gamelog_kawhi = playergamelog.PlayerGameLog(player_id=kawhi_id,season=SeasonAll.all)

## Bayesian DF's

In [ ]:
raptors_2018_games = teamgamelog.TeamGameLog(team_id=raptors_id,season='2018-19').get_data_frames()[0]

In [ ]:
raptors_2018_games

In [ ]:
toronto_df = pd.read_csv('data/toronto_2018-19.csv')
memphis_df = pd.read_csv('data/memphis_2018-19.csv')

In [ ]:
toronto_df['+/-'] = (toronto_df['PF']-toronto_df['PA'])
memphis_df['+/-'] = (memphis_df['PF']-memphis_df['PA'])

In [ ]:
df = pd.read_csv('data/memphis_raptors.csv')

In [ ]:
df.head(1)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pymc3 as pm

In [ ]:
plt.style.use('seaborn')
fig, ax = plt.subplots(nrows=2, ncols=1, sharex=False, sharey=False,figsize=(15,8))

fig.suptitle('Leafs Performance This Season')
ax[0].bar(df['Date'],df['toronto_+/-'], color='purple', label = 'Raptors +/-')
ax[1].bar(df['Date'],df['memphis_+/-'], color='cyan', label = 'Memphis +/-')
ax[0].legend(loc='upper left')
ax[1].legend()
plt.show()

In [ ]:
with pm.Model() as model:
    lambda_1 = pm.Normal('lambda_1', -10, 10)
    lambda_2 = pm.Normal('lambda_2', -10, 10)
    tau = pm.DiscreteUniform("tau", lower=5, upper=70)

    idx = np.arange(len(df)) # Index
    lambda_ = pm.math.switch(tau > idx, lambda_1, lambda_2)

    observation = pm.Normal("obs", lambda_, observed=df['toronto_+/-'])
    trace = pm.sample(10000, tune=1000, chains=2)

In [ ]:
pm.summary(trace)

In [ ]:
(trace['lambda_2'] - trace['lambda_1'] > 0).mean()

In [ ]:
with pm.Model() as model:
    lambda_1 = pm.Normal('lambda_1', -10, 10)
    lambda_2 = pm.Normal('lambda_2', -10, 10)
    tau = pm.DiscreteUniform("tau", lower=5, upper=82)

    idx = np.arange(len(df)) # Index
    lambda_ = pm.math.switch(tau > idx, lambda_1, lambda_2)

    observation = pm.Normal("obs", lambda_, observed=df['memphis_+/-'])
    trace = pm.sample(10000, tune=1000, chains=2)

In [ ]:
pm.summary(trace)

In [ ]:
(trace['lambda_2'] - trace['lambda_1'] > 0).mean()